<div class="block | container flow" style="margin-bottom: 2rem;">
    <h1 class="block-header | fs-800 fw-bold color-accent-400">Bring everyone together to build better products.</h1>
    <p class="block-body fs-400 color-accent-300">Manage makes it simple for software teams to plan day-to-day 
      tasks while keeping the larger team goals in view.</p>
    <button class="btn" data-type="primary" data-shadow="primary">Get Started</button>
  </div>

  <div class="block | container flow">
    <h2 class="block-header | fs-700 fw-bold color-accent-400">What’s different about Manage?</h2>
    <p class="block-body | fs-400 color-accent-300">Manage provides all the functionality your team needs, without 
      the complexity. Our software is tailor-made for modern digital 
      product teams.</p>
  </div>