<footer class="footer | bg-accent-700">
    <div class="footer-wrapper">
      <form action="" class="footer-form form">
        <div class="form-field">
          <label for="email" class="visually-hidden">Email</label>
          <input type="email" id="email" name="email" placeholder="Updates in your inbox...">
          <!-- <span class="form-field-error | fs-200">Please insert a valid email</span> -->
        </div>
        <button class="btn hover-opacity on-hover-fx" data-type="primary" data-shadow="none">Go</button>
      </form>

      <ul class="footer-nav | list flow">
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Home</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Pricing</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Products</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">About Us</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Careers</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Community</a></li>
        <li><a href="#" class="link | fs-300 color-primary-200 on-hover-fx hover-color-primary-400">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social list">
        <li>
          <a href="#" class="link-icon" data-type="media">
            <svg class="icon">
              <use xlink:href="./images/social-media.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="link-icon" data-type="media">
            <svg class="icon">
              <use xlink:href="./images/social-media.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="link-icon" data-type="media">
            <svg class="icon">
              <use xlink:href="./images/social-media.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="link-icon" data-type="media">
            <svg class="icon">
              <use xlink:href="./images/social-media.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="link-icon" data-type="media">
            <svg class="icon">
              <use xlink:href="./images/social-media.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <a href="#" class="footer-home link-icon" data-type="home">
        <svg class="icon">
          <use xlink:href="./images/logo.svg#logo"></use>
        </svg>
      </a>

      <span class="copyright | fs-300 color-accent-300">Copyright 2020. All Rights Reserved</span>
    </div>
  </footer>