<header class="header | padding">
    <nav class="nav | ">
      <a href="#" class="footer-home link-icon" data-type="home">
        <svg class="icon">
          <use xlink:href="./images/logo.svg#logo"></use>
        </svg>
      </a>
  
      <button class="btn-nav burger">
        <span class="visually-hidden">Menu button</span>
      </button>
    
      <button class="btn-nav close display-none">
          <span class="visually-hidden">Close button</span>
      </button>
  
      <ul class="main-nav mobile-nav | list">
        <li><a href="#" class="link | fs-300 color-accent-400 on-hover-fx hover-color-accent-300">Pricing</a></li>
        <li><a href="#" class="link | fs-300 color-accent-400 on-hover-fx hover-color-accent-300">Products</a></li>
        <li><a href="#" class="link | fs-300 color-accent-400 on-hover-fx hover-color-accent-300">About Us</a></li>
        <li><a href="#" class="link | fs-300 color-accent-400 on-hover-fx hover-color-accent-300">Careers</a></li>
        <li><a href="#" class="link | fs-300 color-accent-400 on-hover-fx hover-color-accent-300">Community</a></li>
      </ul>
  
      <button class="main-btn btn | on-hover-fx hover-opacity" data-type="primary" data-shadow="primary">Get Started</button>
    </nav>
  </header>