<a href="#" class="link | color-primary-100">Home</a>
<a href="#" class="link | color-primary-200">Home</a>
<a href="#" class="link | color-primary-400">Home</a>

<a href="#" class="link | color-accent-300">Home</a>
<a href="#" class="link | color-accent-400">Home</a>
<a href="#" class="link | color-accent-700">Home</a>

<a href="#" class="link-icon" data-type="media">
  <svg class="icon">
    <use xlink:href="./images/social-media.svg#icon-twitter"></use>
  </svg>
</a>

<a href="#" class="link-icon" data-type="home">
  <svg class="icon">
    <use xlink:href="./images/logo.svg#logo"></use>
  </svg>
</a>
